:root {
    --verydarkDesaturatedBlue: hsl(235, 24%, 19%);
    --lightGrayishBlue1: hsl(234, 39%, 85%);
    --lightGrayishBluehover: hsl(236, 33%, 92%);
    --veryDarkGrayishBlue2: hsl(237, 14%, 26%);
    /* light mode */
    --veryLightGray: hsl(0, 0%, 98%);
    --veryLightGrayishBlue: hsl(236, 33%, 92%);
    --lightGrayishBlue2: hsl(233, 11%, 84%);
    --darkGrayishBlue2: hsl(236, 9%, 61%);
    --veryDarkgrayishblue: hsl(235, 19%, 35%);
}

.cross {
    opacity: 1;
}

.cross:hover {
    opacity: 1;
}


.check {
    width: 10px;
    height: 10px;
    position: relative;
    top: 20%;
    left: 18%;
}

.check:hover {
    opacity: 1;
}



.alltodos_container {

    top: 2em;
    cursor: pointer;
    background: var(--verydarkDesaturatedBlue);
    border-bottom: 1px solid var(--veryDarkGrayishBlue2);
    padding-right: 1.5em;

}

.alltodos {
    padding: 1em;

}

.todo-content {
    margin-left: 1.5em;
    color: var(--lightGrayishBlue);
}

.todo-content:hover {
    color: var(--lightGrayishBluehover);
}

@media(max-width: 411px) {
    .todo-content {
        font-size: 0.8em;
    }
}

@media(prefers-color-scheme: light) {
    .alltodos_container {
        background: var(--veryLightGray);
        border-bottom: 1px solid var(--veryLightGrayishBlue);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    }

    .todo-content {
        color: var(--veryDarkgrayishblue);

    }

    .todo-content:hover {
        color: var(--darkGrayishBlue2)
    }
}

@media(prefers-color-scheme: dark) {
    .alltodos_container {
        background: var(--verydarkDesaturatedBlue);
        border-bottom: 1px solid var(--veryDarkGrayishBlue2);
    }

    .todo-content {
        color: var(--lightGrayishBlue1);
    }

    .todo-content:hover {
        color: var(--lightGrayishBluehover);
    }
}