:root {
    --brightBlue: hsl(220, 98%, 61%);
    --veryDarkBlue: hsl(235, 21%, 11%);
    --verydarkDesaturatedBlue: hsl(235, 24%, 19%);
    --lightGrayishBlue: hsl(234, 39%, 85%);
    --lightGrayishBluehover: hsl(236, 33%, 92%);
    --darkGrayishBlue: hsl(234, 11%, 52%);
    --veryDarkGrayishBlue: hsl(233, 14%, 35%);
    --veryDarkGrayishBlue2: hsl(237, 14%, 26%);
}

span {
    width: 18px;
    height: 18px;
    background: none;
    border: 1px solid var(--veryDarkGrayishBlue)
}

.input_todo {
    padding: 0.5em;
    padding-left: 1em;
    background: var(--verydarkDesaturatedBlue);
}

input[type="text"] {
    background: var(--verydarkDesaturatedBlue);
    outline: none;
    font-size: 1em;
    margin-left: 0.9em;
    caret-color: var(--brightBlue);
    color: var(--lightGrayishBlue);
}

input[type="text"]:focus {
    caret-color: var(--brightBlue);
    background: var(--verydarkDesaturatedBlue);
    font-size: 1em;
    color: var(--lightGrayishBlue);
}

input:placeholder-shown,
input::placeholder {
    color: var(--darkGrayishBlue);
}