:root {
    --brightBlue: hsl(220, 98%, 61%);
    --verydarkDesaturatedBlue: hsl(235, 24%, 19%);
    --lightGrayishBlue: hsl(234, 39%, 85%);
    --darkGrayishBlue: hsl(234, 11%, 52%);
    --veryDarkGrayishBlue: hsl(233, 14%, 35%);
    /* light mode */
    --veryLightGray: hsl(0, 0%, 98%);
    --veryLightGrayishBlue: hsl(236, 33%, 92%);
    --lightGrayishBlue2: hsl(233, 11%, 84%);
    --darkGrayishBlue2: hsl(236, 9%, 61%);
    --veryDarkgrayishblue: hsl(235, 19%, 35%);






}

span {
    width: 18px;
    height: 18px;
    background: none;
}

.input_todo {
    padding: 0.5em;
    padding-left: 1em;
}

input[type="text"] {
    outline: none;
    font-size: 1em;
    margin-left: 0.9em;
    caret-color: var(--brightBlue);
}

input[type="text"]:focus {
    caret-color: var(--brightBlue);
    font-size: 1em;
}



@media(prefers-color-scheme: light) {
    span {
        border: 1px solid var(--veryLightGrayishBlue);
    }

    .input_todo {
        background: var(--veryLightGray);
    }

    input[type="text"] {
        background: var(--veryLightGray);
        color: var(--veryDarkgrayishblue);
    }

    input[type="text"]:focus {
        background: var(--veryLightGray);
        color: var(--veryDarkgrayishblue);
    }

    input:placeholder-shown,
    input::placeholder {
        color: var(--darkGrayishBlue);
    }
}

@media(prefers-color-scheme: dark) {
    span {
        border: 1px solid var(--veryDarkGrayishBlue);
    }

    .input_todo {
        background: var(--verydarkDesaturatedBlue);
    }

    input[type="text"] {
        background: var(--verydarkDesaturatedBlue);
        color: var(--lightGrayishBlue);
    }

    input[type="text"]:focus {
        background: var(--verydarkDesaturatedBlue);
        color: var(--lightGrayishBlue);
    }

    input:placeholder-shown,
    input::placeholder {
        color: var(--darkGrayishBlue);
    }

}