.cross {
    opacity: 1;
}

.cross:hover {
    opacity: 1;
}


.check {
    width: 10px;
    height: 10px;
    position: relative;
    top: 20%;
    left: 18%;
}

.check:hover {
    opacity: 1;
}



.alltodos_container {

    top: 2em;
    cursor: pointer;
    background: var(--verydarkDesaturatedBlue);
    border-bottom: 1px solid var(--veryDarkGrayishBlue2);
    padding-right: 1.5em;

}

.alltodos {
    padding: 1em;

}

.todo-content {
    margin-left: 1.5em;
    color: var(--lightGrayishBlue);
}

.todo-content:hover {
    color: var(--lightGrayishBluehover);
}

@media(max-width: 411px) {
    .todo-content {
        font-size: 0.8em;
    }
}

.alltodos_container {
    background: var(--todos-container);
    border-bottom: 1px solid var(--todos-container-border);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.todo-content {
    color: var(--todo-content);

}

.todo-content:hover {
    color: var(--todo-content-hover)
}